.sign-in-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-self: space-between;
  margin-left: auto;
  margin-right: auto;

  .input-main{
    width: 50%;
    .form-signin{
      width: 100%;
      .button-signup{
        width: 100%;
      }
    }
  }
  

  
  

  .login-header{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
    
  }
  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
}

@media (max-width:576px) {
  .sign-in-container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-main{
      width: 80%;
    }
  }
}
